body {
    background-color: #e8eaf6;
    color: #546e7a;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: #1976d2;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 1.25rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1.0625rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

hr {
    border-style: dashed;
}

a.button {
    background-color: #ff9800;
    font-weight: bolder;
}

a {
    color: #9c27b0;
    font-weight: bold;
}

.logo {
    margin: 20px auto;
    width: 150px;
}

.marketing-hero {
    background: #e8eaf6 url('../img/bg/11001_Well_A07_Field_1.jpg') 100% 100%;
    padding: 80px 10px 80px;
}

.marketing-hero h1, .marketing-hero p {
    color: #fff;
}

.callout.secondary {
    background-color: #fff;
    color: #90a4ae;
}
