code {
 font-weight: normal;
 color: #0a0a0a ;
 background-color: #f4f5f9;
 border: none;
 padding: 0.125rem 0.3125rem 0.0625rem;
 width: 200px;
}

body {
    background-color: #f4f5f9;
    color: #455a64;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: #1976d2;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 1.25rem; }

h2 {
  font-size: 1.125rem; }

h3 {
  font-size: 1.0625em; }

h4 {
  font-size: 1.0312rem;
  margin-top: 4rem;
}

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

hr {
    border-style: dashed;
}

a.button {
    background-color: #ff9800;
    font-weight: bold;
}

a.button:hover {
    background-color: #ffc107;
}

a {
    color: #9c27b0;
    font-weight: bold;
}

.logo {
    margin: 20px auto;
    width: 150px;
}

.marketing-hero {
    background-color: #e8eaf6;
    background-image: url('../img/bg/11001_Well_A07_Field_1.jpg');
    padding: 80px 10px 80px;
}

.marketing-hero h1, .marketing-hero p {
    color: #fff;
}

.marketing-hero p > a {
    border-bottom: 1px dashed #fefefe;
    color: #fefefe;
}

.marketing-hero p > a:hover {
    border-bottom: none;
    color: #fff;
}

.callout.secondary {
    background-color: #fff;
    color: #90a4ae;
}
