.itrBody {
    margin-top: 40px;
}

th {
    background-color: #1976d2;
    border: 1px solid #1565C0;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

tbody {
    borderfont-size: 0.875rem;
}

tr {
    border: 1px solid #CFD8DC;
    margin-top: 8px;
}

.itrLogo {
    position: relative;
    width: 50px;
    height: 50px;
    top: 15px;
    margin-right: 10px;
    fill: #fff;
}

.itrLogoCellProfiler {
    background: transparent url(../img/logos/itr/logo_knime.svg) no-repeat left center;
    background-size: 100px;
    padding-left: 18px; /* width of feed icon plus 2px spacing */
}

.itrProfjectCellContainer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 10px;
}

.itrLogoContainer {
    float: left;
    width: 50px;
    margin-right: 10px;
}

.itrTextContainer {

}