.itrBody {
    margin-top: 40px;
}

th {
    background-color: #1976d2;
    border: 1px solid #1565C0;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

tbody {
    borderfont-size: 0.875rem;
}

tr {
    border: 1px solid #CFD8DC;
    margin-top: 8px;
}

.itrLogo {
    position: relative;
    height: 25px;
    width: auto;
    margin: 3px;
    fill: #fff;
}

.itrLogoContainer {
    float: left;
    width: 50px;
    margin-right: 10px;
}

.project-modal {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding: 0;
    border: 0;
}

.modal-header {
}

.modal-body {
    padding: 1rem;
}

.modal-header__title {
    color: rgb(0, 0, 0);
    padding: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.modal-header__icon {
    color: #fff;
}

.accordion-content dt::before {
    content: "\A";
    white-space: pre-wrap;
    display: block;
    height: .5em;
}

.accordion-content dt, dd {
    display: inline;
    margin: 0;
}

.accordion-content dd {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
}