---
layout: idr
title: Studies
redirect_from:
  - studies/
---
<!-- begin marketing header -->
<header class="marketing-hero">
    <div class="row homepage text-center">

        <div class="medium-12 columns">
            <img src="{{ "/img/logos/logo-idr-white.svg" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="IDR logo" class="logo-hero" />
            <p class="hero-subheader small-10 medium-10 large-10 small-offset-1 medium-offset-1 large-offset-1">Image Data Resource (IDR) is an online, public data repository seeks to store, integrate and serve image datasets from published scientific studies. We have collected and are continuing to receive existing and newly created “reference image" datasets that are valuable resources for a broad community of users, either because they will be frequently accessed and cited or because they can serve as a basis for re-analysis and the development of new computational tools.</p>
            <br>
            <a href="/webclient/userdata/?experimenter=-1" class="large button sites-button">Take a look at the data</a>
        </div>
    </div>
</header>
<!-- end marketing header -->

    <hr class="whitespace">
    <div class="row column text-center">
        <h2>Studies</h2>
    </div>
    <hr>

<div class="row">
    <div class="small-12 small-centered medium-12 medium-centered columns">
        <div class="row horizontal">
<table>
    <thead>
        <th>Study</th>
        <th>5D Images</th>
        <th>2D Planes</th>
        <th>Size (TB)</th>
        <th>Average dimensions (XYZCT)</th>
    </thead>
    <tbody>
    {% for row in site.data.studies %}
      {% if row.Container == "landing page" %}
        {% continue %}
      {% else %}
        <tr>
            {% if row.Container contains "screen" %}
              <td><a href="/webclient/?show=screen-{{ row["Internal ID"] }}">{{ row.Study }}/{{ row.Container }}</a></td>
            {% else %}
              <td><a href="/webclient/?show=project-{{ row["Internal ID"] }}">{{ row.Study }}/{{ row.Container }}</a></td>
            {% endif %}
            <td>{{ row["5D Images"] }} </td>
            <td>{{ row["Planes"] }} </td>
            <td>{{ row["Size (TB)"] | round: 2 }} </td>
            <td>{{ row["Avg. Image Dim (XYZCT)"] }} </td>
            <td></td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>