        <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic">
        <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Nunito">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/foundation.min.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/responsive-tables.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/openmicroscopy.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/idr.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
