        <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic">
        <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Nunito">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/foundation.min.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/responsive-tables.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/datatables.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/openmicroscopy.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/idr.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ "/css/itr.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
