        <div class="callout large secondary">
            <div class="row">
                <div class="row small-up-2 medium-up-4 large-up-4">
                    <div class="column"><a href="http://www.openmicroscopy.org/" target="_blank"><img class="thumbnail their-logo" src="{{ "/img/logos/ome-logo-200.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="OME"></a></div>
                    <div class="column"><a href="http://www.eurobioimaging.eu/" target="_blank"><img class="thumbnail their-logo" src="{{ "/img/logos/eurobioimaging_logo.gif" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="Euro-Bioimaging"></a></div>
                    <div class="column"><a href="http://www.bbsrc.ac.uk/" target="_blank"><img class="thumbnail their-logo" src="{{ "/img/logos/bbsrc.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="BBSRC"></a></div>
                    <div class="column"><a href="https://ec.europa.eu/programmes/horizon2020/" target="_blank"><img class="thumbnail their-logo" src="{{ "/img/logos/h2020.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="Horizon"></a></div>
                </div>
                <hr class="whitespace">
                <div class="large-12 columns text-center">
                    <p>&copy; 2016-{{ site.time | date: "%Y" }} University of Dundee &amp; Open Microscopy Environment</p>
                    <p>OMERO is distributed under the terms of the GNU GPL. For more information, visit <a href="http://www.openmicroscopy.org">openmicroscopy.org</a></p>
                </div>
                <hr class="whitespace">
                <div class="small-12 columns text-center">
                    <p class="version-number"><a href="{{ site.baseurl }}/index.html"><img id="version-number" src="{{ "/img/logos/logo-idr.svg" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="IDR logo"></a>
                        version: {{ site.idr_deployment_version }}.
                    {% if site.idr_deployment_date %}
                        Last updated: {{ site.idr_deployment_date }}.
                    {% endif %}
                    {% if site.idr_deployment_notes %}
                        See <a href="{{ site.idr_deployment_notes }}">release notes.</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
