        <div class="callout large secondary">
            <div class="row">
                <div class="row small-up-2 medium-up-4 large-up-4">
                    <div class="column"><img class="thumbnail their-logo" src="http://idr-demo.openmicroscopy.org/about/ome-logo-200.png" alt="OME"></div>
                    <div class="column"><img class="thumbnail their-logo" src="http://idr-demo.openmicroscopy.org/about/eurobioimaging_logo.gif" alt="Euro-Bioimaging"></div>
                    <div class="column"><img class="thumbnail their-logo" src="http://idr-demo.openmicroscopy.org/about/bbsrc.png" alt="BBSRC"></div>
                    <div class="column"><img class="thumbnail their-logo" src="http://idr-demo.openmicroscopy.org/about/h2020.png" alt="Horizon"></div>
                </div>
                <hr class="whitespace">
                <div class="large-12 columns text-center">
                    <p>&copy; 2016 University of Dundee &amp; Open Microscopy Environment</p>
                    <p>OMERO is distributed under the terms of the GNU GPL. For more information, visit <a href="http://www.openmicroscopy.org">openmicroscopy.org</a></p>
                </div>
            </div>
        </div>
