        <div id="page-anchor"><a href="#page-top"><i class="fa fa-arrow-up"></i> back to top</a></div>

        <hr class="whitespace">

        <div class="callout large secondary">
            <div class="row">
                <div class="row small-up-2 medium-up-5 large-up-5">
                    <div class="column"><a href="https://www.openmicroscopy.org/" target="_blank"><img class="thumbnail their-logo" src="{{ "/img/logos/ome-logo-200.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="OME"></a></div>
                    <div class="column"><a href="https://www.eurobioimaging.eu/" target="_blank"><img class="thumbnail their-logo" src="{{ "/img/logos/eurobioimaging_logo.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="Euro-Bioimaging"></a></div>
                    <div class="column"><a href="https://www.globalbioimaging.org/" target="_blank"><img class="thumbnail their-logo" src="{{ "/img/logos/globalbioimaging_logo.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="Global-Bioimaging"></a></div>
                    <div class="column"><a href="https://bbsrc.ukri.org/" target="_blank"><img class="thumbnail their-logo" src="{{ "/img/logos/bbsrc.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="BBSRC"></a></div>
                    <div class="column"><a href="https://www.glencoesoftware.com/" target="_blank"><img class="thumbnail their-logo" src="{{ "/img/logos/logo-glencoe-software-color.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="Glencoe Software"></a></div>
                </div>
                <hr class="whitespace">
                <div class="large-12 columns text-center">
                    <p>&copy; 2016-{{ site.time | date: "%Y" }} University of Dundee &amp; Open Microscopy Environment. <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.</p>
                    <p>OMERO is distributed under the terms of the GNU GPL. For more information, visit <a href="https://www.openmicroscopy.org">openmicroscopy.org</a></p>
                </div>
                <hr class="whitespace">
                <div>
                    <div class="version-number float-left">
                        <a href="https://idr.openmicroscopy.org"><img id="version-number" src="{{ "/img/logos/logo-idr.svg" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="IDR logo"></a>
                        version: <span id="version-number-display">{{ site.version }}</span>.
                        Last updated: {{ site.time | date: "%Y-%m-%d" }}.
                        {% if site.notes %}
                            See <a href="{{ site.notes }}">release notes.</a>
                        {% endif %}
                    </div>
                    <div class="float-right">
                        <a href="https://bsky.app/profile/openmicroscopy.org" target="_blank"><i class="fab fa-brands fa-bluesky"></i> @openmicroscopy.org</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).foundation();
        </script>

    </body>

</html>
