<!doctype html>
<html class="no-js" lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IDR: {{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ "/img/logos/favicon-idr.ico" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
{% include css.html %}
    </head>

    <body>

        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>
        
        <div class="medium-2 columns main-nav-bar top-bar" id="main-menu">
            <div class="show-for-large logo" style="margin: 20px 0 20px 15px;"><a href="index.html"><img src="{{ "/img/logos/logo-idr.svg" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="IDR logo"></a></div>
            <ul class="menu vertical documentation">
                <li class="show-for-small-only"><a href="index.html">Home</a></li>
                <li><a href="submission.html">Submission Overview</a></li>
                    <ul class="nested vertical menu">
                        <li><a href="screens.html">Screens</a></li>
                        <li><a href="experiments.html">Experiments</a></li>
                    </ul>
                <li><a href="api.html">API</a></li>
                <li><a href="deployment.html">Deployment</a></li>
            </ul>
        </div>
        
        <div class="medium-10 columns content">
        
        <a name="page-top"></a>
        
        <div class="hide-for-large logo" style="margin: 20px auto;><a href="index.html"><img src="{{ "/img/logos/logo-idr.svg" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="IDR logo"></a></div>