<!doctype html>
<html class="no-js" lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IDR: {{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ "/img/logos/favicon-idr.ico" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
{% include css.html %}
    </head>

    <body>

        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium" style="background-color: #37474f;">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>        
        
        <div class="nav-secondary">
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="http://www.twitter.com/idrnews" target="_blank"><i class="fa fa-fw fa-twitter"></i> @IDRnews</a></li>
                    <li><a href="http://www.twitter.com/idrstatus" target="_blank"><i class="fa fa-fw fa-twitter"></i> @IDRstatus</a></li>
<!--                <li><a href="mailto:idr@openmicroscopy.org" target="_blank"><i class="fa fa-fw fa-envelope"></i> idr@openmicroscopy.org</a></li> -->
                </ul>
            </div>
        </div>
        
        <div class="main-nav-bar top-bar" id="main-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a class="logo" href="{{ site.baseurl }}/index.html"><img src="{{ "/img/logos/logo-idr.svg" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" alt="IDR logo"></a></li>
                    <li><a href="about.html">About Us</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu"><a href="submission.html">Submissions</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="submission.html">Overview</a></li>
                            <li><a href="screens.html">Screens</a></li>
                            <li><a href="experiments.html">Experiments</a></li>
                        </ul>
                    </li>
                    <li><a href="api.html">API</a></li>
                    <li><a href="deployment.html">Deployment</a></li>
                </ul>
            </div>
        </div>
        
        <a name="page-top"></a>
